body {
    margin: 0;
    background-color: #f7f7f7 !important;
    font-size: 18px;
  }
  p{
    color:#333; line-height: 21px;
  }
  .logo{
    height: 100px;
  }
  .dotHolder{
    position: absolute;     
    width: 100%; z-index: 0;
  }
  .headerPosition{
    z-index: 1;
  }
  h2{
    font-size: 26px;
  }
  h6{
    font-size: 15px; color:#32c9b0; text-transform: uppercase;
  }
  .bannerTxt h6{
    margin-top: 15%;
  }
  .bannerTxt h2{
    font-size: 26px;
  }
  .bannerTxt p{
    font-size: 14px;
  }
  .bannerAlign{
    float:right;
    position: absolute; right:0;
  }
  /*Banner styles*/
  body {
    background-color: #434c50;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 40px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
.tz-gallery{
  margin-top: 180px; position: relative;
}

.tz-gallery.portfolio{
  margin-top: 50px; position: relative;
}
 /*Banner styles*/

 .blog__item__pic{
  width: 50px; text-align: center;
  margin: 0 auto;
 }

 /*cards starts here*/
 .card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
font-weight: 600;
}

.card img{
position: absolute;
top: 20px;
right: 15px;
max-height: 120px;
}

.card-1{
/* background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png); */
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
 /* background-image: url(https://ionicframework.com/img/getting-started/components-card.png); */
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
 /* background-image: url(https://ionicframework.com/img/getting-started/theming-card.png); */
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media(max-width: 990px){
.card{
  margin: 20px;
}
} 
 /*cards ends here*/
 .projectFinished img{
  width: 85px; float: left;
 }
 .rgtCont{
  float: left;
 }
 .btmFrmBg{
  background: url('images/form_bg.png') no-repeat 0 0;
  width: 100%;
   background-size: contain;
   background-position: center;
   height: 330px;
 }
 .form-inline .form-group{
  display: inline-block; background-color: #fff; border:#333 1px solid;
 }
 .btmFrmBg h2{
  text-align: center; width: 80%; margin:50px auto 0; color: #fff;
 }
 .form-inline{margin: 70px auto; width: 50%;}

 .btn-primary {
  background-color: #32c9b0 !important;
  border: 1px solid #32c9b0 !important ;
}
.btn-primary:hover {
  background-color: #323b47 !important;
  
}
a.nav-link{
  font-size: 14px;
}
a.nav-link:hover{
  color:#32c9b0 !important;
}
.accordion-button:not(.collapsed) {
  background-color:#fff!important;
}
.accordion-item {
  border:0px !important;
}
.accordion-button{
  font-weight: bold;
}
.eitherSideAlign{
  padding:0 40px 0 40px;
}
.ProcessBlock{
  margin-top: 150px;position: relative;
}
.ass_bg{
  background-image: url('./images/process_capacity.svg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: contain;
  position: absolute;
  top: -110px;
  left:-30px;
  height: 150px;
  width: 150px;
}.ass_bg2{
  background-image: url('./images/process_leadership.svg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: contain;
  position: absolute;
  top: -110px;
  left:-30px;
  height: 150px;
  width: 150px;
}
.ProcessBlock p{
  padding-right: 50px;
}
.light_orange{
  background-color: #fe8e5c!important;
}
.business_red{
  background-color: #f55448!important;
}
.light_orange:hover{
  background-color: #e27c4d!important;
  border: 1px solid #e27c4d!important
}
.business_red:hover{
  background-color: #e24d42!important;
  border: 1px solid #e24d42!important
}
 .work_together{
  margin-top: 100px;  
 }
 .card:hover {background-color: #ff9933;}
 .card:hover p, .card:hover h3 {
   color: #fff!important;
 }
 .btn-outline-light{
  color: #333;
 }
 .btn-outline-light:hover{
  color: #333;
 }
 .list-unstyled li{
  text-align: left;padding: 0 0 10px 0!important;
 }
 .list-unstyled li a{
  font-size: 14px; text-decoration: none; text-align: left; color: #333;
 }
 .footerlinkMas{
  text-align: left;
 }
 .footer-copyright{
  font-size: 12px; color:#999999;
 }
 .block_white_bg{
background-color: #fff!important;
 }
 .block_grey1_bg{
  background-color: #e7e7e7!important;
   }
 .what_we_do{
  margin-top: 50px;
 }
 .accordion-button{
  background-color: #f7f7f7 !important;
 }
 .aboutusBanner{
  width: 50%;
 }
 .ourStoryBlk{
  margin-top: 120px;
 }
 