body {
  margin: 0;
  background-color: #f7f7f7 !important;
  font-size: 14px;
}
p,
.accordion-button {
  font-size: 14px;
}
.yellow_bg {
  background-color: #d8b420;
}
.yelow_txt {
  text-align: right;
}
.blueBtn {
  background-color: #203871;
  padding: 10px 16px;
  height: 55px;
  width: 200px;
}
.txtAlign {
  padding: 25px;
}
.border_btm {
  border-bottom: #fff 1px solid;
  padding-bottom: 20px;
}
.posi_relative {
  position: relative;
}
.posi_abs {
  position: absolute;
  right: 20px;
  bottom: 0;
}
.btn_verti_align {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.uppCase {
  text-transform: uppercase !important;
}
.padd_top {
  padding-top: 50px;
}
.padd_bottom {
  padding-bottom: 50px;
}
h1 {
  color: #002a61;
  font-size: 35px;
  font-weight: bold;
}
h3 {
  color: #002a61;
  font-size: 20px;
  font-weight: bold;
}
h6 {
  font-size: 18px;
}
ul.courseIntor {
  padding: 0 0 0 0;
  margin: 50px 0 0 0;
  list-style: none;
}
ul.courseIntor li {
  padding: 0 20px 20px 25px;
  margin: 0 0 0 0;
  list-style: none;
  background: url('./images/q_icon.svg') 0px 7px;
  background-repeat: no-repeat;
}
.bgBlue {
  background-color: #c4d0ec;
}
.color_blk {
  color: #000000;
}
.orangeTxt {
  color: #ff7700;
}
img {
  max-width: 100%;
  width: 100%;
}
.sev_fiv {
  width: 75%;
}

.align_center {
  margin: 0 auto;
}
.green_Color {
  color: #85ab01 !important;
}
.certi_align {
  padding: 60px 0 60px 0;
}
.subtitle {
  font-size: 14px;

  color: #7e7e7e;
  margin-bottom: 20px;
}
 
.learnExpert {
  font-size: 45px;
  color: #fff;
  text-transform: uppercase;
}
.carousel-caption {
  right: 0% !important;
  left: 0% !important;
}
.bgCap {
  background-color: rgba(77, 78, 78, 0.5);
}
.quote1 {
  font-size: 18px;
  font-weight: bold;
  width: 70%;
  display: block;
  margin-bottom: 20px;
  color: #ff553d;
  vertical-align: top;
}
.authorBlk {
  font-size: 16px;
}
.testiElip {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #c4d0ec;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.courseIntor.lftInd {
  margin-left: 50px;
}
.light_grey {
  background-color: #efefef;
}
.card {
  border: 0px !important;
}
.card-title {
  padding-top: 20px;
}
.btn_width {
  width: 150px;
}
#carousel2 {
  background-color: #efefef;
  padding: 60px;
}
.blockquote-footer {
  color: #000;
}
cite {
  color: #aaaaaa;
}
.card_divider {
  border-right: 1px solid #c4d0ec !important;
  border-left: 1px solid #c4d0ec !important;
  border-radius: 0;
}

.btn-outline-primary {
  border: 1px solid #002a61 !important ;
  color: #333;
}
.btn-outline-primary:hover {
  background-color: #323b47 !important;
  border: 1px solid #002a61 !important ;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;

  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 50px;
}

#myBtn:hover {
  background-color: rgb(204, 204, 204);
}
.accordion-body {
  background-color: #f9f9f9;
  padding-left: 50px;
  padding-right: 50px;
}
.rounded-circle {
  border-radius: 50% !important;
  width: 150px;
  height: 150px;
}
